/* Kleuren:
 * Donkerblauw: #163E73
 * Lichterblauw: #37648C
 * Oranje: #F29F05
 * Beige: #F2C8A2
 * Rood: #BF2011
 */
body {
  height: 100%;
  width: 100%;
  background-color: #F2C8A2;
  padding: 0;
  margin: 0;
  color: #163E73;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#banner h1 {
  display: inline-block;
  width: 70%;
  margin-left: 7%;
  margin-top: 12px;
}

#banner img {
  float: right;
}

form {
  width: 80%;
  margin: 0 auto;
}

label, input {
  display: inline-block;
  margin-top: 5px;
}

label {
  width: 30%;
  text-align: right;
}

input {
  color: #163E73;
  background-color: #F2C8A2;
  border: 1px solid #163E73;
}

label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}

#verzend {
  margin-top: 8px;
  margin-right: 40%;
  margin-left: 35%;
  width: 25%;
}

#verzend:hover {
  color: #37648C;
}


#banner {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 70px;
  background-color: #F29F05;
  color: #163E73;
}


#menu ul {
  position: absolute;
  visibility: visible;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  z-index:1;
}

#menu {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  height: 2.4em;
  color: inherit;
  background-color: #F29F05;
  line-height: 1.5em;
  padding: 0% 0% 0% 10%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  white-space: nowrap;
  visibility: visible;
  z-index: 2;
  width: 90%;
  border: 0;
  border-bottom: 1px solid #163E73;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #163E73;
}

#menu>ul {
  position: relative;
  display: inline-block;
  background-color: #F29F05;
  padding: 0;
  margin: 0;
}


#menu>ul:focus {
  outline:0;
}

#menu li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 7px 2px;
  height: 1px;
}

#menu li a:hover {
  color: #37648C;
}

a {
  color: #163E73;
  text-decoration: none;
}

a:hover {
  color: #37648C;
}

#menu li a {
  padding: 5px 20px;
  text-decoration: none;
}

#page {
  background-color: #F2C8A2;
}

#menu a {
  border: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  padding: 0;
  margin: 0;
}

#fouten {
  width: 80%;
  margin: auto;
  margin-bottom: 8px;
  padding: 5px;
  color: #BF2011;
  border: 1px solid #BF2011;
  visibility: hidden;
  font-size: smaller;
}

#fouten p {
  padding: 0px;
  margin: 0px;
}

#main-content {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 11%;
  margin-right: 15%;
  padding-bottom: 60px;
}

#footer {
  position: absolute;
  margin-left: 10px;
  bottom: 25px;
  width: 60%;
  height: 60px;
}

#container {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

